{{ partial "header.html" . }}
	<main>
		<section class="fullscreen intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="typed-strings">
                            <p>to learn.</p>
                            <p>opensource.</p>
                            <p>distributed architectures.</p>
                            <p>big data.</p>
                            <p>Internet of Things.</p>
                            <p>technical challenges.</p>
                            <p>innovation.</p>
                        </div>
                        <h1>Hi! I'm Ruben</h1>
                        <h2>T-Shaped Software Developer. I love <br /><span class="intro-skills"></span></h2>
                    </div>
                </div>
                <div class="row social-media">
                    <div class="col-md-12">
                        <a class="btn btn-outline-secondary btn-lg" href="https://github.com/ruben-e" target="_blank" role="button"><i class="fa fa-github"></i> Github</a> 
                        <a class="btn btn-outline-secondary btn-lg" href="https://www.linkedin.com/in/rubenernst/" target="<blank></blank>" role="button"><i class="fa fa-linkedin"></i> Linkedin</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="info-section about-me">
            <div class="container">
                <div class="row info-section-header">
                    <div class="col-md-12">
                        <h1>About me</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="/images/ruben.png" width="100%">
                    </div>
                    <div class="col-md-9">
                        <p>
                            I'm a T-Shaped software developer living in The Netherlands (Amersfoort). Started to gain intererest in building websites and writing software since I was 12 years old.
                            Back then I started building websites using PHP. After a while I made a couple of shifts to learn new technologies, a.o. Ruby (on Rails), NodeJS, Javascript, Objective-C, Swift and Java. <br />
                            <br />
                            Java became my main point of interest. I have a strong focus on the architectural part and the quality of the software. I still love to do web and app development as well.<br />
                            <br />
                            Currently I'm a software consultant at Info Support. Working for great customers with lots of difficult technical challenges allows me to continue learning new things.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="info-section skills grey-background">
            <div class="container">
                <div class="row info-section-header">
                    <div class="col-md-12">
                        <h1>Skills</h1>

                        <p>Grouped in different areas</p>
                    </div>
                </div>

                <div class="skills-table">
                    <div class="row">
                        <div class="col-md-2 category">
                            <p><strong>Back end&nbsp;&nbsp;&nbsp;<i class="fa fa-gears"></i></strong></p>
                        </div>
                        <div class="col-md-10 category-skills">
                            Java, Scala, GoLang, Ruby, Javascript, Apache Spark
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 category">
                            <p><strong>Front end&nbsp;&nbsp;&nbsp;<i class="fa fa-laptop"></i></strong></p>
                        </div>
                        <div class="col-md-10 category-skills">
                            Javascript, Angular, Polymer, Swift (iOS apps), Java (Android apps)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 category">
                            <p><strong>Infrastructure&nbsp;&nbsp;&nbsp;<i class="fa fa-terminal"></i></strong></p>
                        </div>
                        <div class="col-md-10 category-skills">
                            Linux, Docker, Kubernetes, Google Cloud
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 category">
                            <p><strong>Process&nbsp;&nbsp;&nbsp;<i class="fa fa-asterisk"></i></strong></p>
                        </div>
                        <div class="col-md-10 category-skills">
                            Git, Github, Scrum, handling big data, innovation
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="info-section experience">
            <div class="container">
                <div class="row info-section-header">
                    <div class="col">
                        <h1>Experience</h1>

                        <p>Some of the companies I worked for</p>
                    </div>
                </div>

                <div class="experience-table">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{{ .Site.BaseURL }}/images/infosupport-logo.png" width="100%" />
                        </div>
                        <div class="col-md-3">
                            <img src="{{ .Site.BaseURL }}/images/ing-logo.png" width="100%" />
                        </div>
                        <div class="col-md-3">
                            <img src="{{ .Site.BaseURL }}/images/twyp-logo.png" width="100%" />
                        </div>
                        <div class="col-md-3">
                            <img src="{{ .Site.BaseURL }}/images/flitsmeister-logo.png" width="100%" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p><a class="btn btn-outline-primary btn-lg" href="https://www.linkedin.com/in/rubenernst/" target="<blank></blank>" role="button"><i class="fa fa-linkedin"></i> Linkedin</a></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="info-section contact">
            <div class="container">
                <div class="row info-section-header">
                    <div class="col-md-12">
                        <h1>Contact</h1>

                        <p>Feel free to get in contact with me</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-outline-primary btn-lg" href="https://www.linkedin.com/in/rubenernst/" target="<blank></blank>" role="button"><i class="fa fa-linkedin"></i> Linkedin</a>
                    </div>
                </div>
            </div>
        </section>
	</main>
{{ partial "footer.html" . }}